<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/ui/styles/home.css">
    </head>
    </head>

    <body>
        <div class="storyContainer">
            <h1>{{.Title}}</h1>
            {{range .Story}}
            <p>{{.}}</p>
            {{end}}
            {{if .Options}}
            {{range .Options}}
            <p><a href="/story/{{.Arc}}">{{.Text}}</a></p>
            {{end}}
            {{else}}
            <p>
                <a href="/">Return to Home</a>

                <a href="/start">Restart Story</a>
            </p>
            {{end}}
        </div>
    </body>

</html>